# ==========================================
# Root Environment Configuration Template
# ==========================================

# Backend Settings
PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/ecommerce_db
JWT_SECRET=Rq^Qo84(^h6b1i>D|2jD,5Rvbt.{?he]mdyeyc9z-H=
CLIENT_URL=http://localhost:5173

# Frontend Settings
VITE_API_URL=http://localhost:5000/api
